@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
@import url(../CSS/bootstrap.css);

:root{
    --border-radius-lg: 0.5rem;
    --box-shadow-sm: 0 0.125rem 0.25rem #00000013;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    position: relative;
}

.height-top-sticky{
    height:60px;
    background-color:#9852afe3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    position: sticky;
    top:0;
    z-index: 10;
}

.image-logo{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.height-bottom-sticky{
    min-height:180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#c59a9a;
}

.width-div-bottom{
    width:calc(100%/3);
    height:90%;
    padding:1rem;
}

.company-description{
    text-wrap: wrap;
    font-size:1.11em;
    font-family: 'Poppins';
    padding:10px 0 0 0;
    color:#fff;
    width:80%;
}

.width-div-bottom > ul{
    list-style: none;
}

.width-div-bottom > ul > li{
    padding:0 0 15px 0;
}

.social-icon{
    width:30px;
    height:30px;
    cursor: pointer;
}

.menus-list{
    width:100%;
    height:60px;
    position: sticky;
    top:60px;
    background-color:#ffcfcf;
    font-family: 'Poppins';
    z-index: 10;
}

.menus-list > ul{
    list-style: none;
    display: flex;
    align-items: center;
    height:100%;
}

.menus-list > ul > li{
    padding:1rem;
    height:100%;
    font-size:1.15rem;
    font-weight: 500;
    cursor:pointer;
}

.menus-list > ul > li.active,
.menus-list > ul > li:hover{
    background-color:#2f87eb;
    color:#fff;
    vertical-align: middle;
}

.menus-list > ul > li:last-child:hover > .menus-box-container{
    color:#000;
}

.menus-box-container{
    width:200px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 0.5rem 1rem #00000026;
    background-color: #fff;
    border-radius: var(--border-radius-lg);
    position: absolute;
    z-index: 20;
    top:60px;
    right: 0;
}

.menus-box-container > ul{
    list-style: none;
}

.menus-box-container > ul > li:not(li:first-child){
    padding:0.5rem;
    border-bottom:1px solid #0000002e;
}

.menus-box-container > ul > li:first-child{
    padding:0.5rem;
    border-bottom:1px solid #0000002e;
}

.menus-box-container > ul > li:last-child{
    border-bottom: none !important;
}

::-webkit-scrollbar{
    width: 5px;
    height: 8px;
    border-radius: var(--border-radius-lg);
}

::-webkit-scrollbar-thumb{
    background-color:#0a30d8a6;
    border-radius: var(--border-radius-lg);
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar{
    display: block;
}

.brand-product-list{
    position: relative;
    padding:1rem;
    z-index: 5;
}

.card-product{
    width:calc(100%/3);
    min-width:250px;
    max-width:260px;
    background-color:#ededed;
    border-radius: var(--border-radius-lg);
    font-family: 'Poppins';
    box-shadow: var(--box-shadow-sm);
    cursor: pointer;
}

.product-show{
    width:100%;
    height:50%;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
}

.limit-line{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.limited-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.product-details-view{
    display: flex;
    width:80%;
    height:250px;
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow-sm);
}

.product-details-view > div:last-child{
    padding: 1rem;
    background-color: #b3b3b323;
    border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
}

.product-slider{
    position: relative;
}

.product-slider img{
    border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
}

.btn-increment,
.btn-decrement{
    width:60px;
    height:30px;
}

.show-product-amount{
    height:30px;
    width:150px;
    border:1px solid #0000006e;
    outline:none;
    background-color:#fff;
    font-size: 1rem;
    font-weight: 600;
    padding:0;
    margin: 0;
    line-height: 30px;
    text-align:center;
}

.brand-section{
    border-bottom: 2px solid #ff0000;
    margin-bottom: 10px;
}

.slider-list{
    height:250px;
    width:100%;
    padding: 0 3px;
    position:relative;
}

.slider-list > img{
    object-fit: fill;
    background-repeat: no-repeat;
    border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
}

.set-max-width-search{
    max-width:300px;
}

.btn-tab{
    border:1px solid #cfcfcf;
    outline:none;
    background-color:transparent;
    padding:0.3rem 0.5rem;
    border-bottom: none;
}

.btn-active{
    background-color:var(--bs-pink);
    color:#fff;
    border:none;
    outline:none;
}

.set-bg-text-slider{
    border:none;
    outline:none;
    border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
}