@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
:root{
    --border-radius-lg: 0.5rem;
    --box-shadow-sm: 0 0.125rem 0.25rem #00000013;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.height-top-sticky{
    height:60px;
    background-color:#9852afe3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    position: sticky;
    top:0;
    z-index: 10;
}

.image-logo{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.height-bottom-sticky{
    height:180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#c59a9a;
}

.width-div-bottom{
    width:calc(100%/3);
    height:90%;
    padding:1rem;
}

.company-description{
    text-wrap: wrap;
    font-size:1.11em;
    font-family: 'Poppins';
    padding:10px 0 0 0;
    color:#fff;
    width:80%;
}

.width-div-bottom > ul{
    list-style: none;
}

.width-div-bottom > ul > li{
    padding:0 0 15px 0;
}

.social-icon{
    width:30px;
    height:30px;
    cursor: pointer;
}

.menus-list{
    width:100%;
    height:60px;
    display: flex;
    align-items:center;
    position: sticky;
    top:60px;
    background-color:#ffcfcf;
    font-family: 'Poppins';
    z-index: 10;
}

.menus-list > ul{
    list-style: none;
    display: flex;
    align-items: center;
    height:100%;
}

.menus-list > ul > li{
    padding:1rem;
    height:100%;
    font-size:1.15rem;
    font-weight: 500;
    cursor:pointer;
}

.menus-list > ul > li:first-child,
.menus-list > ul > li:hover,
.menus-list > ul > li:focus,
.menus-list > ul > li:active{
    background-color:#2f87eb;
    color:#fff;
    vertical-align: middle;
}

.menus-list > ul > li:last-child:hover > .menus-box-container{
    color:#000;
}

.menus-box-container{
    width:200px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 0.5rem 1rem #00000026;
    background-color: #fff;
    border-radius: var(--border-radius-lg);
    position: absolute;
    z-index: 20;
    top:60px;
    right: 0;
}

.menus-box-container > ul{
    list-style: none;
}

.menus-box-container > ul > li:not(li:first-child){
    padding:0.5rem;
    border-bottom:1px solid #0000002e;
}

.menus-box-container > ul > li:first-child{
    padding:0.5rem;
    border-bottom:1px solid #0000002e;
}

.menus-box-container > ul > li:last-child{
    border-bottom: none !important;
}

::-webkit-scrollbar{
    width: 5px;
    height: 8px;
    border-radius: var(--border-radius-lg);
}

::-webkit-scrollbar-thumb{
    background-color:#0a30d8a6;
    border-radius: var(--border-radius-lg);
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar{
    display: block;
}

.brand-product-list{
    display:flex;
    gap:1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding:1rem;
    z-index: 5;
}

.card-product{
    width:calc(100%/3);
    max-width:250px;
    height:260px;
    background-color:#ededed;
    border-radius: var(--border-radius-lg);
    font-family: 'Poppins';
    box-shadow: var(--box-shadow-sm);
    cursor: pointer;
}

.product-show{
    width:100%;
    height:50%;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
}

.limit-line{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

/*These class you use as bootstrap*/
.input-group-text{
    background-color:#fff;
    height:100%;
    padding:0.5rem;
    border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
    cursor: pointer;
}

.input-group{
    display:flex;
    align-items:center;
    background-color:#fff;
    border-radius: var(--border-radius-lg);
}

.form-control{
    padding: 0.375rem 0.75rem;
    border:none;
    outline:none;
    border-radius: var(--border-radius-lg);
}

.text-white{
    color:#fff;
}

.fs-5{
    font-size:1.25rem;
}

.fs-4{
    font-size: calc(1.275rem + 0.3vw);
}

.pe-2{
    padding-right:0.5rem;
}

.px-3{
    padding:0 1rem 0 1rem;
}

.px-2{
    padding:0 0.5rem 0 0.5rem;
}

.w-100{
    width:100%;
}

.w-75{
    width:75%;
}

.w-50{
    width:50%;
}

.d-block{
    display: block;
}

.d-flex{
    display:flex;
    display: -webkit-flex;
}

.align-items-center{
    align-items:center;
}

.align-items-end{
    align-items:flex-end;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: end;
}

.flex-column{
    flex-direction: column;
}

.gap-2{
    gap:0.5rem;
}

.mt-3{
    margin-top:1rem;
}

.mt-2{
    margin-top:0.5rem;
}

.mt-1{
    margin-top:0.25rem;
}

.bg-white{
    background-color:#fff;
}

.position-relative{
    position: relative;
}